:root {
	--background: rgba(18, 21, 90, 1);
	--highlighted: rgb(212,175,55);
}

h1.full-name {
	color: white;
	grid-column: 1 / -1;
	text-align: center;
	font-family: 'Lobster';
	font-size: 100px;
	font-weight: 400;
	margin-bottom: 20px;
	margin-top: 40px;
}

@media screen and (max-width: 599px) {
	h1.full-name {
		font-size: 60px;
	}
}

.profile-pic {
	grid-column: 1 / -1;
	max-width: 400px;
	width: 100%;
	height: auto;
	border-radius: 200px;
	margin: 0 auto;
}