/* Navigation bar styling */
header {
	background: var(--white);
	text-align: center;
	position: fixed;
	z-index: 999;
	width: 100%;
}

header a {
	color: var(--primary);
	text-decoration: none;
}

header h1 {
	font-weight: 500;
	border: 2px solid var(--primary);
	margin-left: auto;
	margin-right: auto;
	padding: 5px;
	padding-right: 20px;
	padding-left: 20px;
	width: 100px;
	color: var(--primary);
}

h1.logo:hover,
h1.logo:hover a {
	color: var(--highlighted);
	border-color: var(--highlighted);
}

.logo {
	font-family: "Lobster";
}

.nav-toggle {
	display: none;
}

.nav-toggle-label {
	position: absolute;
	color: var(--primary);
	top: 0;
	left: 0;
	margin-left: 1em;
	height: 100%;
	display: flex;
	align-items: center;
}

.nav-toggle-label span,
.nav-toggle-label span::before,
.nav-toggle-label span::after {
	display: block;
	background: var(--primary);
	height: 2px;
	width: 2em;
	border-radius: 2px;
	position: relative;
}

.nav-toggle-label span::before,
.nav-toggle-label span::after {
	content: "";
	position: absolute;
}

.nav-toggle-label span::before {
	bottom: 7px;
}

.nav-toggle-label span::after {
	top: 7px;
}

nav {
	position: absolute;
	background: var(--white);
	width: 100%;
	text-align: left;
	top: 100%;
	left: 0;
	transform: scale(1, 0);
	transition: transform 400ms ease-in-out;
	transform-origin: top;
}

nav ul {
	margin: 0;
	padding: 0;
	list-style: none;
}

nav li {
	margin-bottom: 1em;
	margin-left: 1em;
}

nav a {
	color: var(--primary);
	text-decoration: none; /* seems to be the style defaulted to links */
	text-transform: uppercase;
	opacity: 0;
	transition: opacity 100ms ease-in-out;
}

nav a:hover {
	color: var(--highlighted);
}

.nav-toggle:checked ~ nav {
	transform: scale(1, 1);
}

.nav-toggle:checked ~ nav a {
	opacity: 1;
	transition: opacity 250ms ease-in-out 250ms;
}

@media screen and (min-width: 800px) {
	.nav-toggle-label {
		display: none;
	}

	header {
		display: grid;
		grid-template-columns: 1fr auto minmax(600px, 3fr) 1fr;
	}

	.logo {
		grid-column: 2 / 3;
	}

	nav {
		all: unset;
		grid-column: 3 / 4;
		display: flex;
		justify-content: flex-end;
		align-items: center;
		font-size: 18px;
	}

	nav ul {
		display: flex;
		justify-content: flex-end;
	}

	nav li {
		margin-left: 2em;
		margin-bottom: 0;
	}

	nav a {
		opacity: 1;
		position: relative;
		color: var(--primary);
	}

	nav a::before {
		content: "";
		display: block;
		height: 2px;
		background: var(--highlighted);
		border-radius: 2px;
		margin-bottom: 2px;
		position: absolute;
		top: -0.55em;
		left: 0;
		right: 0;
		transform: scale(0, 1);
		transition: transform ease-in-out 250ms;
		transform-origin: left;
	}

	nav a:hover {
		color: var(--highlighted);
	}

	nav a:hover::before {
		transform: scale(1, 1);
	}
}
