main h1,
main h2 {
	color: white;
	font-family: "Lobster";
	font-weight: 400;
	margin-top: 40px;
	text-shadow: 2px 0 var(--primary);
}

main h1 {
	text-align: center;
	font-size: 60px;
	margin-bottom: 20px;
}

h1.name {
	margin-top: 0;
}

main h2 {
	text-align: left;
	font-size: 40px;
	margin-bottom: 0;
}

.content {
	grid-column: 1 / -1;
	color: white;
	background: var(--primary);
	padding: 20px;
	margin: 20px 0;
	font-size: 18px;
}

.profile-pic {
	max-width: 250px;
	width: 100%;
	height: auto;
	border-radius: 200px;
	margin: 0 auto;
}

.logo-wrapper {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 160px;
}

.company-logo {
	padding: 10px;
	max-width: 250px;
	margin: 20px auto;
	align-self: center;
	background-color: var(--accent);
}

.content h3 {
	margin-top: 0;
	margin-bottom: 0;
	text-align: left;
	font-weight: 300;
	font-size: 30px;
	text-transform: uppercase;
}

.job-title {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-between;
	border-bottom: 1px solid white;
}

.job-title h4 {
	font-weight: 300;
	margin-top: 0;
	margin-bottom: 0;
	padding-bottom: 5px;
}

.no-margin-list {
	margin-top: 0;
	margin-bottom: 0;
}

.contact-info-list {
	margin: auto;
	list-style-type: none;
}

@media screen and (min-width: 599px) {
	main h1 {
		font-size: 100px;
	}

	main h2 {
		font-size: 60px;
		transition: all 700ms;
	}

	h2.initial-big {
		font-size: 100px;
	}

	footer ul {
		grid-column: 4 / 8;
	}

	.content {
		font-size: 20px;
	}

	.profile-pic {
		max-width: 400px;
	}
}

@media screen and (min-width: 1000px) {
	.content {
		grid-column: span 6;
		margin: 20px;
	}

}