@import url("https://fonts.googleapis.com/css?family=Work+Sans:300,600");
@import url("https://fonts.googleapis.com/css?family=Lobster");
@import url("https://fonts.googleapis.com/css?family=Quicksand");

:root {
	--primary: #1e2134;
	--secondary: #5893b1;
	--accent: #c1d1de;
	--white: rgba(255, 255, 255, 0.95);
	--highlighted: rgb(212, 175, 55);
}

*,
*::before,
*::after {
	box-sizing: border-box;
}

html, body {
	min-height: 100vh;
}

body {
	display: grid;
	background-color: var(--primary);
	background-image: url("../images/polygon_backgrounds/12.jpg");
	margin: 0px;
	font-family: "Work Sans", sans-serif;
	font-weight: 300;
}

.main-container {
	min-height: 100vh;
}

main {
	margin-top: 100px;
	overflow: auto;
	padding-bottom: 100px;
}

footer {
	background-color: var(--primary);
	color: white;
	position: relative;
	height: 100px;
	margin-top: -100px;
	width: 100%;
	clear: both;
}

footer span {

}

strong {
	font-weight: 600;
}

a {
	color: var(--accent);
}

a:hover {
	color: var(--highlighted);
}

.page-content {
	display: none;
	max-width: 1080px;
	padding-left: 20px;
	padding-right: 20px;
	width: 100%;
	margin: 0 auto;
}

.active {
	display: block;
}

.wrapper {
	display: grid;
	grid-template-columns: repeat(12, 1fr);
	justify-content: center;
}

.full {
	grid-column: 1 / -1 !important;
}


.half {
	grid-column: span 6;
}

.third {
	grid-column: span 4;
}

/* Footer content styling */

.desktop {
	display: none;
	height: 100%;
}

.mobile {
	display: grid;
	height: 100%;
}

.disabled {
	color: gray;
}

footer span {
	grid-column: span 4;
	display: flex;
	justify-content: center;
	align-items: center;
}

footer .mobile span a {
	text-decoration: none;
}

@media screen and (min-width: 1000px) {
	.desktop {
		display: grid;
	}

	.mobile {
		display: none;
	}

	main {
		padding-bottom: 50px;
	}
	footer {
		height: 50px;
		margin-top: -50px;
	}

	footer span {
		grid-column: span 4;
		display: flex;
		justify-content: center;
		align-items: center;
	}
}