
*, *::before, *::after {
	box-sizing: border-box;
}

body {
	margin: 0px;
	background-image: url(../images/folk-pattern.png);
	font-family: sans-serif;
	font-weight: 400;
	display: grid;
}

main {
	margin-top: 100px;
}

body .home-intro {
	display: grid;
	grid-template-columns: 200px auto 200px;
}

.home-intro h1 {
	grid-column: 2 / 3;
	text-align: center;
	font-weight: 400;
	font-size: 60px;
	margin-bottom: 15px;
}

.home-intro .profile-pic {
	grid-column: 2 / 3;
	text-align: center;
	display: block;
	margin-right: auto;
	margin-left: auto;
}

.profile-pic {
	width: 300px;
	height: auto;
	border-radius: 150px;
}

.left-half {
	grid-column: 2 / 3;
	text-align: center;
	
}

.right-half {
	grid-column: 3 / 4;
	display: flex;
	height: 100%;
	align-items: center;
}
